
.login__window {
    background-color: #F8FBFD;
}

.login__box {
    margin: 0 30%;
}

.login__title-box {
    background-color: #FAF0F0;
    border: solid 1px;
    text-align: center;
}

.login__input-box {
    margin: auto;
}
